---
layout: default
title: Home
---

View all articles below. Articles open in a new tab. Or, filter by <a href="#filter-by-topic">topic</a> and <a href="#filter-by-author">author</a>.

<div class="posts">
  <em>
  {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | absolute_url }}" target="_blank">{{ post.title }}</a>
      </li>
  {% endfor %}
  </em>
</div>

<br>

<h2>Filter by Topic</h2>
<a name="filter-by-topic"></a>
{% assign tags =  site.posts | map: 'topic' | join: ','  | split: ',' | uniq %}
<div class="posts">
  {% for tag in tags %}
      {{ tag }}
      <em>
      {% for post in paginator.posts %}
        {% if post.topic == tag %}
          <li>
            <a href="{{ post.url | absolute_url }}" target="_blank">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </em>
  {% endfor %}
</div>

<hr>

<h2>Filter by Author</h2>
<a name="filter-by-author"></a>
{% assign tags =  site.posts | map: 'author' | join: ','  | split: ',' | uniq %}
<div class="posts">
  {% for tag in tags %}
      {{ tag }}
      <em>
      {% for post in paginator.posts %}
        {% if post.topic == tag %}
          <li>
            <a href="{{ post.url | absolute_url }}" target="_blank">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </em>
  {% endfor %}
</div>
